@model TeacherModel;

@{
    ViewData["Title"]="Alta de Maestro";
}

<div class="text-center">
        <h1 class="display-2">Editar Maestro: @Model.Nombre</h1>
    </div>

<form asp-controller="Teacher" asp-action="TeacherEdit">
    
    <div class="mb-3">
        <label for="nombre"  class="form-label"> Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del maestro" />
    </div>

    <div class="mb-3">
        <label for="carrera"  class="form-label"> Carrera</label>
        <input type="text" class="form-control" id="carrera" name="carrera" placeholder="Escriba la carrera" />
    </div>

    <div class="mb-3">
        <label for="edad"  class="form-label"> Edad</label>
        <input type="text" class="form-control" id="edad" name="edad" placeholder="Escriba la edad" />
    </div>

    <div class="mb-3">
        <label for="Genero"  class="form-label"> Genero</label>
        <input type="text" class="form-control" id="Genero" name="Genero" placeholder="Escriba hombre/mujer" />
    </div>

    <div asp-validation-summary="All" class="Text-danger"></div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secundary" asp-controller="Teacher" asp-action="TeacherList">Regresar</a>

</form>