@model StudentModel;

@{
    ViewData["Title"] = "Listado de Alumnos";

    DateTime fechaInscripcion = new DateTime(2024, 05, 20);
}

<h2> @DateTime.Now.ToShortDateString() </h2>
<i>@fechaInscripcion.ToLongDateString()</i>

<div class="text-center">
<h2 class="display-4">Bienvenidos a mi pagina de alumnos</h2>
</div>


<img src="~/img/estudiantes.jpg" alt="Estudiantes" width="400" height="200" align="right" >

<h1 class="display-5">Listado de Alumnos</h1>
<h3 style="font-size: 20px" >@Model.Nombre.ToUpper() Es un alumno de la <b>carrera</b> @Model.Carrera </h3>

<label>Esto es una prueba</label>
<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
